.project__card--btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

.project__card--btn button {
  margin-top: auto;
  height: 4rem;
  width: 10rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: 3px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: #fff;
    outline: 3px solid rgb(218, 96, 255);
  }

  &:active {
    outline: 3px solid rgb(250, 195, 255);
    background-color: rgb(251, 251, 251);
  }
}
