.contact {
  position: relative;
  padding: 20rem 0 15rem 0;
  margin-top: -17.8rem;
  clip-path: polygon(0% 0%, 100% 21%, 100% 100%, 0% 100%);
  background-image: linear-gradient(
    90deg,
    $color-primary-light,
    $color-primary
  );

  @include respond(big-desk) {
    margin-top: -20.8rem;
  }

  &__form {
    margin: 0 auto;
    position: relative;
    height: 51rem;
    width: 75%;
    box-shadow: 0 1.5rem 4rem rgb($color-black, 60%);
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.95) 50%,
        rgba($color-primary-light, 0.177) 50%
      ),
      url(../img/seamless-pattern-envelopes-flat-line-icons-mail-background-message-open-envelope-letter-email-vector-illustrations-black-143678274.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(phone) {
      background-image: linear-gradient(
          110deg,
          rgba($color-white, 0.95) 71%,
          rgba($color-black, 0.177) 50%
        ),
        url(../img/seamless-pattern-envelopes-flat-line-icons-mail-background-message-open-envelope-letter-email-vector-illustrations-black-143678274.jpeg);
    }

    @include respond(tab-port) {
      width: 95%;
    }

    @include respond(big-desk) {
      height: 65rem;
    }
  }

  .form {
    &__group:not(:last-child) {
      margin-bottom: 5rem;
    }

    &__title {
      font-size: 4rem;
      margin-left: 1rem;
      margin-bottom: 5rem;
      font-family: "Pacifico", cursive, sans-serif;
    }

    &__input {
      font-size: 1.6rem;
      padding: 1.5rem 2rem;
      margin-left: 1rem;
      font-family: inherit;
      border-radius: 2px;
      background-color: rgba($color-primary-light, 0.5);
      border: none;
      border-bottom: 3px solid transparent;
      width: 45%;
      display: block;
      transition: all 0.5s;

      @include respond(phone) {
        width: 65%;
        padding: 1rem 1.5rem;
      }
      @include respond(big-desk) {
        height: 6rem;
      }

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
        border-bottom: 3px solid rgb(90, 246, 119);
        animation: shake 0.3s ease-in-out;
      }

      &:focus:invalid {
        border-bottom: 3px solid rgb(255, 101, 101);
        animation: shake 0.3s ease-in-out;
      }

      &::-webkit-input-placeholder {
        color: $color-grey;
      }
    }

    &__label {
      font-size: 1.4rem;
      font-weight: 700;
      margin-left: 3rem;
      margin-top: 0.7rem;
      display: block;

      @include respond(phone) {
        font-size: 1.3rem;
        margin-left: 2.4rem;
      }
    }

    &__area {
      display: block;
      background-color: rgba($color-white, 0.5);
      font-family: "Titillium Web", sans-serif;
      padding: 0.5rem 0.5rem;
      font-size: 1.7rem;
      margin-top: 0.5rem;
      border: none;
      height: 8rem;
      width: 80%;
      border-radius: 1rem;
      outline: 2px solid rgba($color-primary-light, 0.5);
      transition: all 0.4s ease-in-out;

      @include respond(big-desk) {
        height: 14rem;
      }

      &:focus {
        outline: 2.5px solid rgba($color-primary-light, 1);
        background-color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      }
    }
  }
  &__btn {
    position: relative;
    top: 0;
    width: 30%;
    height: 3rem;
    font-size: 2rem;
    margin: 1rem 17rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: $color-primary;
    transition: all 0.2s ease-in-out;

    &:hover {
      top: -2px;
    }

    &:active {
      top: 2px;
      background-color: $color-primary-bright;
    }

    @include respond(tab-port) {
      margin: 1rem 15rem;
    }

    @include respond(phone) {
      width: 40%;
      height: 4rem;
      margin: 2rem 8.2rem;
    }

    @include respond(big-desk) {
      margin: 2rem 22rem;
      height: 4rem;
    }
  }

  &__areaBtn {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tab-port) {
      width: 50%;
    }
    @include respond(phone) {
      width: 75%;
    }
    @include respond(big-desk) {
      margin-top: 10rem;
    }
  }
}

.thank--you {
  color: rgb(67, 156, 61);
  position: relative;
  animation: fromTop 0.3s ease-in-out backwards;
  transition: all 0.4s ease-in-out;

  &::after {
    content: "✓";
    position: relative;
    top: 0;
    left: 0;
  }
}
