::-webkit-scrollbar {
  width: 6px;
  z-index: -10;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  z-index: -10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(207, 106, 249);
  z-index: -10;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(237, 179, 250);
  z-index: -10;
}

.cursor {
  position: absolute;
  background-color: rgb(245, 195, 255);
  outline: 3px solid rgb(240, 128, 255);
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid $color-white;
  border-radius: 50%;
  transition-duration: 500ms;
  animation: cursorAni 0.5s infinite alternate;
  z-index: 1;

  &--expand {
    animation: cursorAni2 0.4s forwards;
    border: 10px solid rgb(183, 16, 255);
  }

  @include respond(tab-port) {
    display: none;
  }
}
