.main {
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;
  background-image: linear-gradient(
      rgba($color-white, 0.5) 5%,
      transparent 75%,
      rgba($color-white, 0.5) 20%
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

  &__heading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      height: 12rem;
      width: 10rem;
      background-color: $color-primary-bright;
      top: 0;
      left: 96%;
      border-radius: 4px;

      @include respond(tab-port) {
        display: none;
      }

      @include respond(big-desk) {
        left: 97%;
      }
    }
  }
}

.skills {
  position: relative;
  margin: 10rem auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 11rem;

  &__col {
    transition: all 0.4s ease-in-out;
    @include respond(tab-port) {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &:hover .skills__label {
      top: -0.9rem;
      transform: scale(1.1);
      text-shadow: 0 2rem 3rem rgba($color-black, 0.4);
    }

    &:hover .skills__col--img {
      transform: scale(1.1);
      top: 0.9rem;
    }
  }

  .fade-in {
    opacity: 0;

    &.appear {
      opacity: 1;
    }
  }

  .appear.fromBottomSkill {
    position: relative;
    top: 0;
    left: 0;
    animation: fromBottomSkill 0.8s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    height: 12rem;
    width: 10rem;
    background-color: rgba(206, 112, 217, 1);
    bottom: -7rem;
    left: -4.5rem;
    border-radius: 4px;

    @include respond(tab-port) {
      display: none;
    }
    @include respond(big-desk) {
      bottom: -8rem;
    }
  }

  &__col--img {
    position: relative;
    height: 15rem;
    width: 15rem;
    top: 0;
    left: 0;
    animation: svgAnime 3.72s ease infinite;
    padding-bottom: 2rem;
    transition: all 0.4s cubic-bezier(0.33, 0.36, 0.1, 1.47);
  }

  &__label {
    position: relative;
    top: 0;
    left: 0;
    font-size: 2.4rem;
    margin: 0 auto;
    color: rgba($color-primary-bright, 1);
    width: 44%;
    transition: all 0.4s cubic-bezier(0.33, 0.36, 0.1, 1.47);
  }
}

.projects {
  position: relative;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

//////// SHAPE DIVIDERS //////////

.custom-shape-divider-bottom-1658442332 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1658442332 svg {
  position: relative;
  display: block;
  width: calc(151% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658442332 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1658615298 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1658615298 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 105px;
}

.custom-shape-divider-top-1658615298 .shape-fill {
  fill: #fff;
}
